@font-face {
    font-family: DancingScript;
    src: url('../static/DancingScript-Regular.ttf');
}
*{
    box-sizing: border-box;
}
body{

    margin: 0;
    padding: 0%;
    max-width: 80%;
    margin: 20px auto;
}
.header{
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 15px 15px 10px rgb(227, 220, 220);
    margin: 10px auto;
    height: 110px;
    padding: 50px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.header > a{

    text-decoration: none;
}
.navbar > a{
   padding-inline: 50px; 
   text-decoration: none;
}
